.portfolio {
  &__content {
    padding: 20px;
    width: 100%;
    padding-bottom: 30%;
    &__filter {
      display: inline-block;
      margin: 0 auto;
      border-radius: 26px;
      border: 1px dashed var(--selected-theme-main-color);
      line-height: 0;
      text-align: center;
      margin-bottom: 10px;

      li {
        font-size: 16px;
        display: inline-block;
        cursor: pointer;
        position: relative;
        color: var(--selected-theme-main-color);
        text-transform: uppercase;
        padding: 20px;
        transition: all 0.4s ease;
        font-family: Roboto, sans-serif;
        &.active {
          background: var(--selected-theme-main-color);
          color: var(--selected-theme-background-color);
          font-weight: 600;
          border-radius: 26px;
        }
      }
    }
    &__cards {
      &__item {
        height: 30%px;
        cursor: pointer;
        position: relative;

        &:hover .overlay {
          opacity: 1;
        }

        &__img-wrapper {
          height: 100%;
          width: 100%;
          overflow: hidden;

          a {
            // height: 100%;
            img {
              // height: inherit;
              object-fit: fill;
              width: auto;
              height: 100%;
            }
          }
        }

        .overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          transition: 0.5s ease;
          background-color: var(--selected-theme-main-color);
          z-index: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 5%;
        }
      }
    }
  }
}

.portfolio_content__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  margin-top: 10px;
  align-items: center;
}

.projectName {
  opacity: 1;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  p {
    color: var(--selected-theme-background-color);
    margin: 0;
    font-weight: 500;
    font-size: 5rem;
    position: relative;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
  }
  &:hover p {
    animation: typingEffect 1s steps(30, end) forwards;
  }
  .button {
    cursor: pointer;
    margin-top: 15px;
    padding: 10px 17px;
    font-size: 2rem;
    color: var(--selected-theme-background-color);
    background: transparent;
    border: 1.5px solid var(--selected-theme-background-color);
    border-radius: 4px;
    font-weight: 500;
    width: 35%;
  }
}

.portfolio__content__cards__item__img {
  max-width: auto;
  max-height: auto;
  border-radius: 5%;
}

@keyframes typingEffect {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .portfolio h1 {
    padding: 0;
  }
  .portfolio__content__filter > li {
    font-size: 15px;
  }
  .portfolio_content__cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .projectName p {
    font-size: 2.5rem;
  }
  .projectName .button {
    width: 50%;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .portfolio__content__filter > li {
    font-size: 14px;
  }
  .portfolio_content__cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .projectName p {
    font-size: 1rem;
  }
  .projectName .button {
    width: 50%;
    font-size: 0.5rem;
  }
  .theme-wrapper__toggle-icon svg {
    scale: 0.6;
  }
  .wrapper span svg {
    visibility: hidden;
  }
}
