.skills {
  &__content {
    padding: 20px;
    width: 100%;
    padding-bottom: 30%;

    &__card {
      &__item {
        height: 366px;
        cursor: pointer;
        position: relative;
      }
    }
  }
}

.skills__content__card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  margin-top: 10px;
  align-items: center;
}
.skills__content__card__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 8px 0px rgb(211, 211, 211 ,.1);
  &:hover{
    scale: 1.05;
  }
}
.skills__content__card__item__p {
  font-size: 2rem;
  color: var(--selected-theme-main-color);
  align-items: center;
}

.skills__content__card__item__img {
  overflow: hidden;
  height: inherit;
  object-fit: fill;
  padding-bottom: 5%;
  scale: .85;
}


@media only screen and (max-width: 480px) {
    .skills__content__card {
      grid-template-columns: repeat(1, 1fr);
    }
}

  
  @media only screen and (min-width: 480px) and (max-width: 768px) {
    .skills__content__card {
        grid-template-columns: repeat(2, 1fr);
      }
  }
  